#jzg-loadingMain{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 120%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}

#jzg-loading {
	position: relative;
	width: 250px;
	height: 250px;
	border-radius: 999px;
	transition: 0.3s;
	display: flex;
	animation: rotate1 3s infinite;
	animation-timing-function: linear;
	transform: translateY(-50%);
}

#jzg-front {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 88%;
	height: 88%;
	margin: 6%;
	border-radius: 999px;
	background-color: #f0f0f0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	transition: 0.3s;
	animation: rotate2 3s infinite;
	/* animation-direction:alternate */
	animation-timing-function: linear;
}

#jzg-left {
	width: 100%;
	height: 100%;
	background-color: white;

}

#jzg-right {
	width: 100%;
	height: 100%;
	background-color: #39b3ff;
	animation: color 10s infinite;
}

#jzg-back {
	background-color: antiquewhite;
	width: 100%;
	height: 100%;
	border-radius: 999px;
	display: flex;
	overflow: hidden;
}

#jzg-point {
	position: absolute;
	background-color: #868686;
	width: 10%;
	height: 10%;
	bottom: 0%;
	left: 50%;
	transform: translate(-50%, 20%);
	z-index: 20;
	border-radius: 100px;
}

#jzg-point2 {
	position: absolute;
	background-color: #39b3ff;
	width: 6%;
	height: 6%;
	top: 0%;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 20;
	border-radius: 100px;
	animation: color 10s infinite;
}



#jzg-loading {
	/* 				box-shadow: 0px 0px 10px #fff,
		0px 0px 20px #fff,
		0px 0px 40px #fff,
		0px 0px 80px #fff,
		0px 0px 120px #fff,
		0px 0px 160px #fff; */
	box-shadow: 0px 0px 10px #d3d3d3,
		0px 0px 20px #d3d3d3,
		0px 0px 40px #d3d3d3,
		0px 0px 80px #d3d3d3,
		0px 0px 120px #d3d3d3,
		0px 0px 160px #d3d3d3;
}

#toast{
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 13px;
	flex-wrap: wrap;
	width: 200px;
	height: 50px;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0,0,0,0.8);
	color: white;
	border-radius: 10px;
	transition: opacity 0.3s; 
	opacity: 0;
}

@keyframes rotate1 {
	0% {
		transform: rotate(0deg);
	}

	20% {
		transform: rotate(100deg);
	}

	40% {
		transform: rotate(150deg);
	}

	80% {
		transform: rotate(260deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotate2 {
	0% {
		transform: rotate(0deg);
	}

	20% {
		transform: rotate(-150deg);
	}

	40% {
		transform: rotate(-150deg);
	}

	80% {
		transform: rotate(-260deg);
	}

	100% {
		transform: rotate(-360deg);
	}
}

@keyframes color {
	0% {
		background-color: #2E91CF;
	}

	20% {
		background-color: #55aa7f;
	}

	40% {
		background-color: #aaaaff;
	}

	60% {
		background-color: #aa5500;
	}

	80% {
		background-color: #55aaff;
	}

	100% {
		background-color: #00557f;
	}
}